/*******************************************************************************/
/*     general
/*******************************************************************************/
body{
	@include transition-duration(0.5s);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.kanan{
	float:right;
}

.kiri{
	float:left;
}

.tkanan{
	text-align:right;
}
input{
	@extend p;
	border:none;
	padding:5px;
	// border-bottom:dashed 1px solid #eee;
	border:solid 1px darken(#eee, 10%)
}
td{
	@extend p;
}
.judul{
	font-family:$defaultFont;
}

li{
	@extend p;
}

.tableStyle{
		@include transition-duration(0.5s);
		width:100%;
	th{
		@extend p;
		padding:5px;
		text-align:left;
		background:lighten($mainColor, 5%);
		color:#fff;
	}
	td{
		@extend p;
		padding:5px;
		border-bottom:solid 1px lighten($mainColor, 5%);
	}
	tr{
		@include transition-duration(0.5s);
		&:hover{

			background:lighten(#eee, 5%);
		}
	}
}

/*******************************************************************************/
/*     header & slide
/*******************************************************************************/
header{
	// padding:50px 0;
	position: relative;

	.baris{
		border-bottom:solid 1px #eee;
	}
}

.logo{
	@extend .kiri;
}

nav{
	@extend .kanan;
	margin:60px 0 0 0;
	ul{
		margin:0;
	}
	li{
		float: left;
		list-style: none;
	}
	a{
		@include transition-duration(1s);
		font-size:13px;
		font-family:$defaultFont;
		display:block;
		color:$secColor;
		padding:15px 10px;
		list-style:none;
		font-weight:bold;
		text-decoration:none;
		&:hover{
			color:$mainColor
		}
		&.active{
			background:$mainColor;
			color:#fff;
		}
	}

	&#atas{
		position: absolute;
		margin-top:15px;
		top:0;
		right:0;

		a{
			vertical-align:top;
			padding:15px 5px;
			font-size:12px
		}

		form{
			margin-left:5px;
			margin-top:8px;
		}

		input{
			width:100px;
			border:solid 1px #444;
			font-size:12px;
			padding:5px;
		}
		button{
			@include tombol($mainColor,#fff);
			font-size:12px;
		}
	}
}

.keranjang{
	
	position: relative;
	// &:hover>div{
	// 	@include transition-duration(0.5s);
	// 	height:auto;
	// }
	.belanja{
		// @include transition-duration(0.5s);
		// height:0px;
		overflow: hidden;
		display:none;		
		position:absolute;
		right:0;
		z-index: 80;
		background:#fff;
	}
	ul{
		padding:0;
	}
	li{
		width:100%;

		border-bottom:solid 1px #eee;
		display:block;
		padding:5px 10px;
		color:$mainColor;
		font-size:13px;
		line-height:20px;
		&:hover{
			@include transition-duration(0.5s);
			background:darken(#fff, 5%)
		}
		span{
			color:#444;
			display:block;
		}
		&.total{
			color:#444;
			font-weight:bold;
		}
		&.total{
			span{
				margin-top:3px;
			}
			a{
				background:$mainColor;
				font-size:11px;
				padding:2px 5px;
				color:#fff;
				@include border-radius(5px);
				float: left;
				&:hover{
					background:lighten($mainColor, 10%)
				}
			}
		}
	}
}

#slide{
	background: $mainColor;
}

#slide{
	img{
		width:100%;
	}
}

.respset{
	display:none;
	position:fixed;
	right:5px;
	bottom:5px;
	list-style-type: none;
	font-family:$defaultFont;
	z-index:99;
	button{
		display:block;
		border:solid 1px #fff;
		margin-bottom:10px;
		font-size:12px;
		padding:5px;
		@include border-radius(5px);
		text-decoration:none;
		color:#fff;
		background:$mainColor;
	}
}

/*******************************************************************************/
/*     section
/*******************************************************************************/

#produk{
	h2{
		color:$mainColor;
		// font-weight:normal;
	}
	article{
		margin-bottom: 30px;
		&:nth-of-type(4n+1){
			&.zeen-3{
				clear: left;
				margin-left:0px;
			}
		}
		// &:nth-of-type(6n+1){
		// 	&.zeen-2{
		// 		clear: left;
		// 		margin-left:0px;
		// 	}
		// }	
	}

	.thumb{
		@include transition-duration(1s);
		position: relative;
		z-index:-2;
		&:hover{
			@include box-shadow(0 0 10px 1px #444);
		}
		img{
			width:100%;
		}
		@include transition-duration(1s);
		@include box-shadow(0 0 10px lighten(#444, 25%));

		.beli{
			@include tombol(#444);
			@include transition-duration(1s);
			position:absolute;
			top:50px;
			left:10px;
			opacity:0;
			z-index:99;
		}
		.detail{
			@include tombol(#444);
			@include transition-duration(1s);
			position:absolute;
			top:50px;
			right:10px;
			opacity:0;
			z-index:99;
		}
	}
	p{
		font-size:14px;
		line-height:20px;
	}
	.hargaDetail{
		text-align:center;
		padding:5px 10px;
		font-weight:bold;
		color:green;
		p{
			font-size:17px;
			&:before{
				content:"Rp. ";
			}
			&:after{
				content:",-";
			}
		}
	}
	.beli{
		background:lighten(#eee, 3%);
		border:solid 1px #eee;
		color:#fff;
		margin-bottom:10px;
		padding:10px;
		overflow: hidden;
		
		input{
			font-size:12px;
			padding:5px;
			text-align:center;
			border:none
		}


	}

	.formKuantitas{
		
		div{
			position:relative;

			input{
				width:100px;
				position: absolute;
				top:0;
				left:0;
			}

			.button{
				background:$mainColor;
				padding:5px;
				font-size:13px;
				float:left;
				width:20px;
				text-align:center;
				cursor:pointer;
			}

			.inc{
				postion:absolute;
				top:0;
				left:0;
				border-radius:3px 0 0 3px;
			}
			.dec{
				postion:absolute;
				top:0;
				left:50px;
				border-radius:0 3px 3px 0;
			}
			button{
				padding:6px 15px;
				@include tombol($mainColor,#fff, 3px);
				// @innlude border-radius(5px);
			}
		}

		button{
			float:right;
		}
	}


	a{
		@include transition-duration(1s);
		Color:#444;
		text-decoration:none;
		position:relative;
		overflow: hidden;
		
		&:hover{
			@include transition-duration(1s);
			.thumb{
				@include box-shadow(0 0 10px 1px #444);
			}
			.detail,.beli{
				opacity:1;
				top:10px;
			}
		}

		h3{
			color:#fff;
			margin:0;
			font-size:14px;
			background:rgba($mainColor, 0.8);
			position:absolute;
			bottom:0;
			left:0;
			right:0;
			padding:15px 10px;

			span{
				@include transition-duration(1s);
				display:block;
				line-height:20px;
				&.harga{
					font-weight:normal;
					&:before{
						content:"Rp. ";	
					}

				}

				&.beli{
					@include transition-duration(1s);
					font-weight:normal;
					margin-top:10px;
					background:#444;
					padding:5px;
					@extend .kiri;
					display:none;
					
					&:hover{
						background:black;
						color:red;
					}
				}

				&.detail{
					@extend .beli;
					float:right !important;
				}

			}
		}
	}
	
}

#paket{
	@extend #produk;
}
/*******************************************************************************/
/*     aside
/*******************************************************************************/
aside{
	background: $mainColor;
	color:white;
	font-size:13px;
	line-height:20px;
	padding:25px 0;

	section{
		background: rgba(darken($mainColor, 15%), 0.8);
		padding:10px;
		// margin: 10px 0;
		color:#fff;
	}

	blockquote{
		font-style:italic;
		strong{
			display:block;
		}
	}
}

/*******************************************************************************/
/*     footer
/*******************************************************************************/

footer{
	background: darken($mainColor, 15%);
	@extend aside;
	// padding-bottom:20px;
	a{
		color:#fff;
		text-decoration:none;
		font-weight:bold;
	}

	#kredit{
		text-align:right;
		a{
			display:inline-block;
			margin-top:17px;
			margin-left:10px;
			
		}
	}
}