/*******************************************************************************/
/*     responsive
/*******************************************************************************/
@media only screen and (max-width: 760px) {
	.logo{
		display: block;
		float: none;
		text-align: center;
		// padding: 25px 0;
	}	
	nav{
		display:block;
		float:none;
		text-align:center;
		margin:15px 0;
		
		li{
			float: none;
			display: inline-block;
			a{
				padding: 5px;
			}
		}
	}
}

@media only screen and (max-width: 600px){
	#beli{
		text-align: center;
		p{
			width: 100%;
			clear: both;
			margin-bottom: 10px;
		}
		button{
			float: none;
		}
	}
	
	aside{
		article{
			text-align:center;
		}
		p{
			text-align:center;
		}
	}

	footer{
		article{
			text-align:center;
		}
		p{
			text-align:center;
		}
		#kredit{
			text-align:center;
		}
	}
}